@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
.h1-title{
    text-align: center;
    font-size: 40px;
    color: #7e6659;
}

img{
    width: 270px;
    height: auto;
    margin-left: 100px;
}

.quote{
    margin-left: 180px;
    color: #7e6659;
    font-family: 'Poppins', sans-serif;
}

.divBodyImg{
    display: flex;
}
.body{
    height: 378px;
    width: 700px;
    background-color: #7e6659;
    margin-left: 100px; 
    color: whitesmoke;
    padding: 20px;
}
button {
    background-color: white; 
    color: #7e6659; 

  }
  
button:hover {
    background-color: #503626;
    color: white;
  }